.title {
    display: flex;
    align-items: center;
    justify-content: center;
}


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 200px;
}

label {
    display: block;
    margin-top: 1rem;
    margin-bottom: 10px;
}

.address {
    margin-top: 10px;
}

.departement-dropdown {
    border-width: 1px;
    border-style: solid;
    border-color: rgb(118, 118, 118);
}

.departement-dropdown__container {
    position: absolute;
    width: 207px;
    background-color: #ffffff;
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
}

.departement-dropdown__option {
    padding-left: 4px;
    cursor: default;
}

.departement-dropdown__option:hover {
    background-color: #3498DB;
    color: #ffffff
}

.padding-4 {
    padding: 4px;
}