table {
    border-collapse: collapse;
}

tr:nth-child(odd) {
    background-color: transparent;
}

tr:nth-child(even) {
    background-color: #ffffff;
}

tr:hover {
    background-color: rgb(224 29 91 / 0.05);
}

.table-header {
    background-color: #ffffff !important;
}

.table-header:hover {
    background-color: #ffffff;
}

.searchbar-container {
    display: flex;
    justify-content: space-between;
    width: calc(100% - 270px);
    height: 60px;
}

.searchbar {
    height: 30px;
    display: block;
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: #757575;
    margin-top: 15px;
}

.th-employees {
    padding: 10px 18px;
    border-bottom: 1px solid #111;
}

.td-employees {
    padding: 8px 10px;
    border-top: 1px solid rgb(72 28 75 / 0.04);
}

.sorting {
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center right;
}

.sorting-both {
    background-image: url(../../img/sort_both.png);
}

.sorting-asc {
    background-image: url(../../img/sort_asc.png);
}

.sorting-desc {
    background-image: url(../../img/sort_desc.png);
}

.pagination-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.page-size-container {
    display: flex;
    align-items: center;
}

.number-active {
    color: #333 !important;
    border: 1px solid #979797;
    background: linear-gradient(to bottom, #fff 0%, #dcdcdc 100%);
}

.number-not-active {
    padding: 0.5em 1em;
    margin-left: 2px;
    cursor: pointer;
}

.previous {
    margin-right: 10px;
    cursor: pointer;
}

.next {
    margin-left: 10px;
    cursor: pointer;
}

.disabled-pagination {
    cursor: default;
    color: #666 !important;
}

.pagesize-container {
    display: flex;
    position: relative;
}

.pagesize-dropdown {
    padding: 5px 30px 5px 10px;
    margin: 0 10px;
}

.dataTables_length {
    display: flex;
    align-items: center;
}